html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-areas: "header header header header" "hero hero hero hero" "about about about about" "services services services services" "testimonials testimonials testimonials testimonials" "clients clients clients clients" "projects projects projects projects" "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.header {
    grid-area: header;
    background-color: #3dbeff;
}

.header .header-container {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}


/* HERO */

.hero {
    grid-area: hero;
    height: 89vh;
    background: url('../images/desktop/image-header.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: top;
    position: relative;
    padding: 120px;
}

.hero h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 4rem;
}

.hero:after {
    content: url('../images/icon-arrow-down.svg');
    align-items: center;
    position: absolute;
    bottom: 35%;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translate(0);
    }
    100% {
        -webkit-transform: translate(0.4em);
        opacity: 0.9;
    }
}

@media(max-width: 425px) {
    .hero {
        height: 60vh;
    }
    .hero h2 {
        font-size: 2.5em;
    }
}


/* about */

.about {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    max-width: var(--max-width-size);
    margin: 0 auto;
}

.about .item {
    padding: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about .item h3 {
    font-weight: 700;
    font-size: 4rem;
}

.about .item p {
    font-weight: 400;
    font-size: 1.8rem;
    margin: 30px 0;
}

.about .image {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.about .item .btn-know-more {
    font-size: 1.6rem;
    align-self: flex-start;
}

.about .item .btn-know-more:hover {
    font-weight: 700;
}

.about .image.right {
    background: url('../images/desktop/image-transform.jpg') center center no-repeat;
    background-size: cover;
}

.about .image.left {
    background: url('../images/desktop/image-stand-out.jpg') center center no-repeat;
    background-size: cover;
}

@media(max-width: 425px) {
    .about .item {
        text-align: center;
    }
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}


/* services */

.services {
    grid-area: services;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.services .service {
    padding: 70px 20px;
    position: relative;
}


.services .service h3 {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.services .service p {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 400px;
    margin: 20px auto 0;
    line-height: 25px;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.services .service:nth-child(1) {
    height: 75vh;
    background: url(../images/desktop/image-graphic-design.jpg) center center no-repeat;
}

.services .service:nth-child(2) {  
    height: 75vh;
    background: url(../images/desktop/image-photography.jpg) center center no-repeat;
}

@media(max-width: 425px) {
    .services {
        grid-template-columns: 1fr;
    }
}


/*testimonials*/

.testimonials {
    grid-area: testimonials;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fffbf8;
}

.testimonials .testimonial h2{
    font-weight: 700;
    font-size: 3rem;
    color: black;
}

.testimonials .testimonial {
    display: flex;
    margin-top: 100px;
    padding: 0px 40px;
    justify-content: center;
    align-items: center;
    min-height: 75px;
}

@media(max-width: 425px) {
    .testimonials {
        grid-template-columns: 1fr;
    }
    .testimonials .testimonial {
        display: flex;
        margin-top: 50px;
        padding: 0px 40px;
    }
}


/* clients */

.clients {
    grid-area: clients;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fffbf8;
}

.clients .client {
    padding: 70px 20px;
    text-align: center;
}

.clients .client img {
    width: 80px;
    margin-top: 0px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.clients .client h2 {
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.clients .client h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

.clients .client p {
    font-size: 1.5rem;
    font-weight: 400;
    max-width: 400px;
    margin: 20px auto 0;
    line-height: 25px;
}

@media(max-width: 425px) {
    .clients {
        grid-template-columns: 1fr;
    }
    .clients .client {
        padding: 40px 20px;
        text-align: center;
    }
}


/* projects */

.projects {
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.projects img {
    height: 100%;
}

.projects a>hover img {
    opacity: 0.8;
    transition: 0.3s;
}

@media(max-width: 768px) {
    .projects {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media(max-width: 425px) {
    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}


/* footer */

.footer {
    grid-area: footer;
    display: flex;
    background-color: #90d4c5;
    flex-direction: column;
    text-align: center;
    padding: 100px 0;
}

.footer h4 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.footer nav {
    margin: 50px 0;
}

.footer nav ul {
    display: flex;
    justify-content: center;
    max-width: 320px;
    margin: 0 auto;
}

.footer nav ul li a {
    font-weight: 500;
    font-size: 2rem;
    margin: 20px;
    transition: 0.3s;
}

.footer nav ul li a:hover {
    font-weight: 700;
    color: #fff;
}

.footer .social i {
    font-size: 2rem;
    transition: 0.3s;
}

.footer .social a {
    margin: 20px;
}

.footer .social a:hover {
    color: #fff;
}